@model AppUserListDto
@{
    string activePage = TempData["Active"]?.ToString();
}

<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center">
        <img src="~/img/@Model.Picture" alt="@Model.Name" class="img-thumbnail" style="height: 12rem !important; max-width: 12rem !important; max-height: 12rem !important;" />
    </div>
    <div class="list-group list-group-flush">
        <a asp-area="Member" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action @(activePage == "homePage" ? "active" : "")"><i class="fas fa-home mr-2"></i>Ana Sayfa</a>
        <a asp-area="Member" asp-controller="TaskOrder" asp-action="Index" class="list-group-item list-group-item-action @(activePage == "taskOrder" ? "active" : "")"><i class="fas fa-folder-plus mr-2"></i>Gelen İş Emirleri</a>
        <a asp-area="Member" asp-controller="Task" asp-action="Index" class="list-group-item list-group-item-action @(activePage == "task" ? "active" : "")"><i class="fas fa-clipboard-check mr-2"></i>Tamamlanan İşler</a>
        <a asp-area="Member" asp-controller="Notification" asp-action="Index" class="list-group-item list-group-item-action @(activePage == "notification" ? "active" : "")">
            <i class="fas fa-bell mr-2"></i>
            @if (ViewBag.NotificationCount > 0)
            {
                <sub class="badge badge-pill badge-info position-absolute" style="bottom: 1.625rem !important; left: 1.65rem !important;">@ViewBag.NotificationCount</sub>
            }
            Bildirimler
        </a>
        <a asp-controller="Profile" asp-action="Index" class="list-group-item list-group-item-action @(activePage == "profile" ? "active" : "")"><i class="far fa-user-circle mr-2"></i>Profil</a>
        <a asp-area="" asp-controller="Home" asp-action="SignOut" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt mr-2"></i>Çıkış Yap</a>
    </div>
</div>