@model List<AllTasksListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    int index = 0;
}

@if (Model.Count == 0)
{
    <div class="text-center lead mt-5">
        Hiç Göreviniz Bulunmuyor
    </div>
}
else
{
    @foreach (var task in Model)
    {
        index++;
        <div class="card mt-3">
            <h5 class="card-header">@task.Name</h5>
            <div class="card-body">
                <h5 class="card-title">
                    <span class="badge badge-warning">
                        @task.Urgency.Description
                    </span>
                </h5>
                <p class="card-text">@task.Description</p>

                <p class="text-right">
                    @if (task.Report.Count > 0)
                    {
                        <a class="btn btn-light" data-toggle="collapse" href="#collapse-@index" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Raporlara Git<i class="fas fa-caret-down ml-2"></i>
                            <span class="badge badge-dark">@task.Report.Count</span>
                        </a>
                    }
                    <a asp-area="Member" asp-controller="TaskOrder" asp-action="AddReport" asp-route-id="@task.Id" class="btn btn-light">
                        <i class="fas fa-check mr-2"></i>
                        Rapor Ekle
                    </a>
                    <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-id="@task.Id">
                        Görevi Tamamla
                    </a>
                </p>
                <div class="collapse" id="collapse-@index">
                    @foreach (var report in task.Report)
                    {
                        <div class="card card-body mt-2">
                            <h5 class="card-title">@report.Definition</h5>
                            <p class="card-text">@report.Description</p>
                            <p class="text-left">
                                <a asp-action="UpdateReport" asp-route-id="@report.Id" class="btn btn-dark">
                                    <i class="far fa-edit mr-2"></i>
                                    Düzenle
                                </a>
                            </p>
                        </div>
                    }
                </div>

            </div>
        </div>
    }

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center font-weight-bold lead">
                    Bu işlemi gerçekleştirmek istediğinizden emin misiniz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <button id="btnSave" type="button" class="btn btn-primary">Evet</button>
                </div>
            </div>
        </div>
    </div>


    @section Javascript
    {
        <script type="text/javascript">
            $(document).ready(function() {
                $("#exampleModal").on("show.bs.modal",
                    function(event) {
                        let triggerElement = $(event.relatedTarget);
                        let data = triggerElement.data("id");

                        $("#btnSave").click(function() {
                            $.ajax({
                                type: "GET",
                                contentType: "application/json; charset=utf-8",
                                url: "./TaskOrder/CompleteTask",
                                data: { id: data },
                                success: function() {
                                    alert("İşlem Başarıyla Gerçekleşti");
                                    location.reload();
                                },
                                error: function (error) {
                                    alert("Bir Hata Oluştu. " + error.responseText);
                                }
                            });
                        });
                    });
            });
        </script>
    }
}
