@model TaskListViewModel
@{
    ViewData["Title"] = "Assign";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mt-3">
    <div class="col-md-4">
        <div class="card border border-primary">
            <div class="card-header bg-primary">
                <h4 class="text-center lead pt-2">Görev Bilgileri</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>

                <p class="card-text">
                    @Model.Description
                </p>

                <p class="card-text">
                    <strong>Aciliyet Durumu: </strong>
                    <span class="badge badge-primary">@Model.Urgency.Description</span>
                </p>

                <p class="card-text">
                    <small>
                        @Model.CratedDate.ToString("D")
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        <div class="row">
            <div class="col-md-9">
                @if (!string.IsNullOrWhiteSpace(ViewBag.Keyword))
                {
                    <div class="p-3">
                        <strong>
                            @ViewBag.Keyword
                        </strong>
                        aramasının sonuçlarını görüyorsunuz.
                        <a asp-action="Assign" asp-route-id="@Model.Id">Filtreyi Kaldır</a>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <form method="get" asp-action="Assign" class="text-right p-3">
                    <input type="text" name="keyword" class="form-control-sm border-left-0 border-top-0 border-right-0 border-primary" />
                    <button type="submit" class="btn btn-primary btn-sm">Ara</button>
                </form>
            </div>
        </div>


        @foreach (var worker in (List<AppUserListViewModel>)ViewBag.Personnel)
        {
            <div class="card mb-3 border border-primary">
                <div class="row no-gutters">
                    <div class="col-md-4 p-2">
                        <img src="~/img/@worker.Picture" class="card-img img-fluid" style="max-width: 50%;" alt="@worker.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@worker.Name @worker.SurName</h5>
                            <p class="card-text">
                                <GetTaskByUserId app-user-id="@worker.Id"></GetTaskByUserId>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">@worker.Email</small>
                                <a href="" class="btn btn-primary btn-sm float-right">Görevlendir</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Keyword))
                    {
                        <li class="page-item @(ViewBag.ActivePage == i ? "active" : "")"><a class="page-link" asp-action="Assign" asp-route-id="@Model.Id" asp-route-activePage="@i" asp-route-keyword="@ViewBag.Keyword">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item @(ViewBag.ActivePage == i ? "active" : "")"><a class="page-link" asp-action="Assign" asp-route-id="@Model.Id" asp-route-activePage="@i">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>