@model List<TaskListAllDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Count != 0)
{
    <table class="table table-hover table-sm mt-2">
        <thead>
            <tr>
                <th class="text-center align-middle">
                    Görev Adı
                </th>
                <th class="text-center align-middle">
                    Oluşturulma Tarihi
                </th>
                <th class="text-center align-middle">
                    Görevli
                </th>
                <th class="text-center align-middle">
                    Aciliyet
                </th>
                <th class="text-center align-middle">
                    Rapor Sayısı
                </th>
                <th class="text-center align-middle">
                    İşlem
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
            <tr>
                <td class="text-center align-middle" style="max-width: 10px !important;">
                    @task.Name
                </td>
                <td class="text-center align-middle">
                    @task.CreatedDate
                </td>
                <td class="text-center align-middle">
                    @{
                        if (task.AppUser == null)
                        {
                            <span class="badge badge-danger">Bu görevde çalışan yok.</span>
                        }
                        else
                        {
                            <span class="badge badge-success">Bu görevde @task.AppUser.Name çalışıyor.</span>
                        }
                    }
                </td>
                <td class="text-center align-middle">
                    @task.Urgency.Description
                </td>
                <td class="text-center align-middle">
                    @task.Report.Count
                </td>
                <td class="text-center align-middle">
                    @{
                        if (task.AppUser == null)
                        {
                            <a asp-action="Assign" asp-controller="TaskOrder" asp-route-id="@task.Id" class="btn btn-warning"><i class="fas fa-user-plus mr-2"></i>Personel Ata</a>
                        }
                        else
                        {
                            <a asp-action="ShowDetails" asp-controller="TaskOrder" asp-route-id="@task.Id" class="btn btn-info"><i class="fas fa-info-circle mr-2"></i>Detay Göster</a>
                        }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="my-2 text-center lead">
        Herhangi bir görev bulunmuyor.
    </div>
}
