@model PersonnelAssignListDto
@{
    ViewData["Title"] = "PersonnelAssign";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mt-2">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-center lead pt-2">Görev Bilgileri</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Task.Name</h5>

                <p class="card-text">
                    @Model.Task.Description
                </p>

                <p class="card-text">
                    <strong>Aciliyet Durumu: </strong>
                    <span class="badge badge-primary">@Model.Task.Urgency.Description</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-center lead pt-2">Personel Bilgileri</h4>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4 p-2">
                    <img src="~/img/@Model.AppUser.Picture" class="card-img img-fluid w-50" alt="@Model.AppUser.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model.AppUser.Name @Model.AppUser.SurName</h5>
                        <p class="card-text">
                            <GetTaskByUserId app-user-id="@Model.AppUser.Id"></GetTaskByUserId>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">@Model.AppUser.Email</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">

    <div class="col-md-12 mt-3">
        <form asp-action="Assign" method="post">
            <p class="lead text-center">
                <strong class="text-primary">@Model.Task.Name</strong> Görevi <strong class="text-primary">@Model.AppUser.Name</strong> Çalışanına Atanacaktır. Onaylıyor musunuz?
            </p>
            <div class="form-group text-center">
                <input type="hidden" name="PersonnelId" value="@Model.AppUser.Id" />
                <input type="hidden" name="TaskId" value="@Model.Task.Id" />
                <button class="btn btn-warning" asp-action="Assign" asp-route-id="@Model.Task.Id"><i class="far fa-window-close mr-2"></i>Vazgeç</button>
                <button class="btn btn-info" type="submit"><i class="fas fa-check mr-2"></i>Ata</button>
            </div>
        </form>
    </div>
</div>